.gradle/
**/build/

.idea/
*.iml
*.p12
*.pfx
local.properties

.kotlin/

*.apk
*.aab
*.ap_
*.dex

.externalNativeBuild/
.cxx/

captures/
*.idsig
*.jks
*.keystore
keystore.properties

*.log

.DS_Store
Thumbs.db
desktop.ini

*.tmp
*.temp
*.bak
*.swp

release/
releases/
.git/

app/release/